.des-heading {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
p {
  font-family: Poppins;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
}
