.lip-title {
  margin-right: 5%;
  font-size: 24px !important;
}
.lip-but {
  width: 25%;
  margin-right: 5%;
}
.lip-text {
  width: 100%;
  padding-top: 15px;
  font-size: 16px;
}
.credit-bar {
  background-color: #fafafa;
  margin: 2%;
  padding-left: 3%;
  margin-right: 10%;
  padding-bottom: 2%;
}
.lipbg {
  background-color: inherit;
}
.lip-earned {
  font-size: 16px;
  color: var(--color-btn-primary);
  line-height: 21px;
  font-weight: 600;
  padding-left: 15px;
}
.lip-button {
  height: 3.25rem;
  font-size: 16px;
  font-weight: 600;
  // background: #FFFFFF;
  width: 95%;
}
.lip-margin {
  margin: 3%;
}
.ant-form label {
  font-size: 30px;
}
.lip-textarea {
  width: 95%;
  border-width: 1.5px;
  padding: 1em;
  height: 52px !important;
  font-weight: 600;
}
