.notes-li {
  padding: 1rem;
  border-width: 2px;
  margin: 1rem;
  border-radius: 4px;
}
.notes-p {
  line-height: 0.5rem;
  float: right;
  margin-top: -2rem;
}
.notes-by {
  font-size: 14px;
  font-style: 500;
}
