@import "../../../public/static/css/colors.scss";

$form-link-color: #ffa594;

.lipHead {
  color: var(--color-invert) !important;
}

.register-buttons {
  height: 3.25rem;
  font-size: 16px;
  font-weight: 600;
  background-color: var(--color-btn-indigo);
  color: var(--color-btn-text);
  border: none;
  // width: 90.5%;
}
.auth-form {
  .ant-page-header-heading-title {
    color: var(--color-form-text);
  }
  .ant-typography {
    color: var(--color-form-text) !important;
  }

  .ant-form-item-required {
    color: var(--color-form-text) !important;
    font-size: medium !important;
  }

  .ant-form-item.dark .ant-form-item-required {
    color: var(--color-primary) !important;
    font-size: 20px;
    margin-top: 4rem;
  }
}

.response_Message {
  color: $form-link-color;
}
.login-button {
  height: 3.25rem;
  font-size: 16px;
  font-weight: 600;
}

.forgot-password-link {
  position: absolute;
  right: 0;
  padding-top: 0.2em;
  padding-right: 2em;
  cursor: pointer;
  span {
    color: $form-link-color;
  }
}

.disclaimer {
  cursor: pointer;
  text-decoration: underline;
}

.auth-input {
  font-size: 16px !important;
  font-weight: 600;
  height: 3.25rem !important;
}
.float-right {
  float: right;
}
.padding-top {
  padding-top: 6px !important;
  text-align: center !important;
}
.org-type {
  width: 100%;
  background: #fff;
  margin-top: -1px;
}
.google-login {
  height: 3.25rem !important;
  width: 15rem !important;
}
